/project/data/1_CO2_raw_data.zip
/project/data/2_CO2_cleand_data.zip
/project/data/2_CO2_cleand_data/new_device_all_data_filterd.npy
/project/data/1_CO2_raw_data/new_device_column1.txt
/project/data/2_CO2_cleand_data/
/project/data/1_CO2_raw_data/
AGENTS.md